{{ define "head" }}
    <style>
        #header {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        #header-title {
            margin-bottom: 0;
        }

        .cell-input {
            border: none;
            padding: 0;
        }
    </style>
    </style>
{{ end }}

{{ define "main" }}

<div id="header">
    <h4 id="header-title">{{ .Data.Name }}</h4>
    <a class="btn btn-primary btn-sm ml-3" href="#" id="add-btn">添加</a>
</div>

<div class="table-responsive mt-3"></div>
    <table class="table table-hover">
        <thead>
            <colgroup>
                <col width="10%">
                <col width="30%">
                <col width="30%">
                <col width="30%">
            </colgroup>
            <tr>
                <th scope="col">代码 <i class="fa fa-spinner fa-spin" id="updateSpinner" style="font-size:24px;"></i></th>
                <th scope="col">名称</th>
            </tr>
        </thead>
        <tbody id="table-body">
        {{ range $i, $s := .Data.Stocks }}
            <tr>
                <td>{{ $s.Code }}</td>
                <td>{{ $s.Name }}</td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</div>

<script>
    var tableBody = $("#table-body");

    var updateSpinner = $('#updateSpinner');
    updateSpinner.hide();

    var codeInput;
    var nameInput;
    var inputRow;

    $("#add-btn").click(function (e) {
        if (inputRow) {
            return;
        }

        inputRow = $('<tr class="table-primary"> \
            <td><input type="text" class="form-control cell-input input-code" placeholder="股票代码"></td> \
            <td><input type="text" class="form-control cell-input input-name" placeholder="股票名称"></td> \
        </tr>');
        tableBody.prepend(inputRow);
        
        codeInput = inputRow.find(".input-code");
        nameInput = inputRow.find(".input-name");
        
        codeInput.focus();

        codeInput.on('keyup', function (e) {
            if (e.keyCode == 13) {
                submitStockForm();
            }
        });
        nameInput.on('keyup', function (e) {
            if (e.keyCode == 13) {
                submitStockForm();
            }
        });
    });

    function submitStockForm() {
        var endpoint = "/group/{{ .Data.Name }}/stocks/";
        
        var name = nameInput.val();
        var code = codeInput.val();

        if (name == "" || code == "") {
            return
        }

        var data = {
            name: name,
            code: code,
        };
    
        updateSpinner.show();
        $.ajax({  
            method: "POST",   
            data: data,
            url: endpoint,
            success: function(res) {  
                updateSpinner.hide();
        
                if (res.error) {
                    alert(res.error);
                    return;
                }

                inputRow.remove();
                inputRow = null;

                var row = $(`
                <tr>
                    <td>` + code + `</td>
                    <td>` + name + `</td>
                </tr>`);
                tableBody.prepend(row);
            }
        });
    }
</script>
      
{{ end }}
