{{ define "base_head" }}
    <style>
        .panel-fas {
            width: 24px;
            text-align: center;
        }
    </style>
    {{ template "head" . }}
{{ end }}

{{ define "nav" }}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" data-toggle="dropdown">
                个股管理
            </a>
            <div class="dropdown-menu">
                {{ range .StockGroups }}
                <a class="dropdown-item" href="/group/{{ . }}/">
                    {{ . }}
                </a>
                {{ end }}
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#gm">
                    <i class="panel-fas fas fa-plus"></i>
                    添加板块
                </a>
            </div>
        </li>
    </ul>
{{ end }}

{{ define "base_body" }}
    {{ template "main" . }}

    <!-- Group Form Modal -->
    <div class="modal fade" id="gm">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modalTitle">添加板块</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success modalSucceed">添加成功</div>
                <div class="alert alert-danger modalFail"></div>
    
                <form class="modalForm">
                    <div class="form-group">
                        <label class="col-form-label">名称</label>
                        <input type="text" class="form-control nameInput" name="name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i class="fa fa-spinner fa-spin updateSpinner" style="font-size:24px;"></i>
                <button type="button" class="btn btn-primary submitButton" onclick="submitGroupForm()">添加</button>
            </div>
            </div>
        </div>
    </div>

        
    <script>
        var gm = $('#gm');
        
        var gmForm = gm.find(".modalForm");
        var gmSubmitButton = gm.find(".submitButton");
        var gmSucceed = gm.find(".modalSucceed");
        var gmFail = gm.find(".modalFail");
        var gmUpdateSpinner = gm.find('.updateSpinner');
        
        var gmNameInput = gm.find('.nameInput');
        
        gm.on('show.bs.modal', function (e) {
            gmUpdateSpinner.hide();
            gmSucceed.hide();
            gmFail.hide();

            // clear
            clearGroupModal();
        });

        function submitGroupForm() {
            gmSucceed.hide();
            gmFail.hide();
            
            var name = gmNameInput.val();

            gmUpdateSpinner.show();
            gmSubmitButton.attr("disabled", "disabled");
            $.ajax({  
                method: "POST",   
                data: {
                    name: name,
                },
                url: "/groups/",
                success: function(res) {  
                    if (res.error) {
                        gmUpdateSpinner.hide();
                        gmFail.html(res.error);
                        gmFail.show();
                    } else {
                        gmSucceed.show();

                        // do not hide the spinner, since jumping may cost time

                        // jump to new panel
                        window.location.pathname = "/group/" + name + "/";
                    }
                }
            });
        }
        
        function clearGroupModal() {
            gmForm.show();
            gmSubmitButton.removeAttr("disabled");

            gmNameInput.val("");
        }
    </script>
{{ end }}
